.blog-parent{
    padding: 60px 0;
    h1{
        text-align: center;
        
    }
    .card-grid{
        display: grid;
     gap: 40px ;
        grid-template-columns: 1fr 1fr 1fr ;
        width: 100%;
        max-width: 1400px;
        margin: auto;
        place-items: center;
        margin: 80px auto 0 auto;
        .card{
            padding: 20px ;
            
        }
    }
 .link{
    color: #F38247;
    text-decoration: none;
 }
}