.header-parent {
    .contact-parent {
        background: #FF9900;

        .contact {
            max-width: 1200px;
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    .pay {
        img {
            width: 100%;
        }
    }

    .search-parent {
        max-width: 1200px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search-button {
            input {
                font-size: 14px;
                width: 350px;
                padding: 10px 20px;
                outline: none;
                border: none;
                border-radius: 4px;
                border: 1px solid rgba(128, 128, 128, .293);
            }

            button {
                font-size: 18px;
                margin-left: 20px;
                padding: 8px 20px;
                background: #FF9900;
                color: #fff;
                border-radius: 4px;
                border: none;
                cursor: pointer;
                box-shadow: 0px 0px 5px 0px #00000042
            }
        }

        .container {
            .login {
                display: flex;
                gap: 20px;
                align-items: center;

                .icon {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }

}