.getjob-parent{
    
    h1{
        padding: 80px 0;
    }
    .card{
        width: 90%;
        margin:40px auto;
        padding: 30px 20px;
        .card-text{
            margin: 20px 0;
            color: gray;
        }
    }
}