
.footer{
   
    background: green;
      border-bottom: 1px solid rgba(128, 128, 128, 0.247);
      padding:0 0 40px 0;
      border-top: 1px solid rgba(128, 128, 128, 0.247);
      margin-top: 160px;
  
      .container{
          width: 80%;
          margin:auto;
  
         
      }
      .row{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
        padding-top: 60px;
        
         
          
      }
      ul{
          list-style: none;
          padding: 0;
          margin: 0;
      }
      .footer{
       
          padding: 70px 0;
      }
      .footer-col{
         width: 100%;
         padding: 0 15px;
   
      }
      .footer-col h4{
          font-size: 15px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 35px;
          font-weight: 500;
          position: relative;
      }
      .footer-col h4::before{
          content: '';
          position: absolute;
          left:0;
          bottom: -10px;
          background-color: #FF9900;
          height: 2px;
          box-sizing: border-box;
          width: 50px;
      }
      .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        width: 150px;
      }
      .footer-col ul li a{
          font-size: 13px;
          text-transform: capitalize;
         
          text-decoration: none;
          font-weight: 300;
          color: #ffffff;
          display: block;
          transition: all 0.3s ease;
      }
      .footer-col ul li a:hover{
          color: #ffffff;
          padding-left: 8px;
      }
      .footer-col .social-links a{
          display: inline-block;
          height: 40px;
          width: 40px;
          background-color: rgba(255,255,255,0.2);
          margin:0 10px 10px 0;
          text-align: center;
          line-height: 40px;
          border-radius: 50%;
          color: #ffffff;
          transition: all 0.5s ease;
      }
      .footer-col .social-links a:hover{
          color: #24262b;
          background-color: #ffffff;
      }
      
      /*responsive*/
      @media(max-width: 767px){
        .footer-col{
          width: 50%;
          margin-bottom: 30px;
      }
      }
      @media(max-width: 574px){
        .footer-col{
          width: 100%;
      }
      }
      
      
      
      
      
  }